# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
.venv/
.env/

# IDEs and editorsk
.vscode/
.idea/

# macOS
.DS_Store

.env

# Logs
*.log
/model/__pycache__
/model/__pycache__