certifi
charset-normalizer
idna
Jinja2
MarkupSafe<=2.1.5
numpy<2.0
opencv-python
psycopg2-binary<=2.9.3
PySide6
PySide6_Addons
PySide6_Essentials
python-dotenv
qt-material
requests
shiboken6
urllib3
pymodbus
pyserial
